html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #010529;
  font-family: 'Poppins', sans-serif;
}

body::after {
  content: "";
  position: fixed;
  top: var(--mouse-y);
  left: var(--mouse-x);
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(60, 51, 180, 0.493), transparent 45%);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.5s;

}

h2 {
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.contacto p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 17px;
  color: #aaa;
  margin-bottom: 50px;

}

/*CABECERA*/
/*CABECERA */
header {
  color: #fff;
  padding: 50px;
  /* Ajusta el padding seg칰n tus preferencias */
  padding-bottom: 0%;
  display: flex;
  /* Usamos flexbox para organizar el contenido */
  flex-direction: column;
  /* Colocar los elementos en una columna */
  align-items: center;
  /* Centrar horizontalmente los elementos */
 
 
}

/* Estilos para la imagen del encabezado */
header img {
  width: 30px;
  height: 30px;
}

/* Estilos para el t칤tulo del encabezado */
.header-title {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* Ajusta el espaciado entre el t칤tulo y la navegaci칩n */
}

/* Estilos para la navegaci칩n del encabezado */
.header-nav {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-nav a {
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
  /* Ajusta el espaciado horizontal entre elementos de navegaci칩n */
}

.header-nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s ease-in-out;
}

.header-nav a:hover {
  color: #192ea5;
}

.header-nav a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Media query para hacer el encabezado responsive */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    /* Volver a la disposici칩n horizontal */
    justify-content: space-between;
    /* Separar los elementos a ambos extremos */
    align-items: center;
    /* Centrar verticalmente los elementos */
    padding-bottom: 0%;
  }


  .header-title {
    margin-bottom: 0%;
    /* Eliminar el espaciado entre el t칤tulo y la navegaci칩n */

  }
}

/* Estilos para el men칰 m칩vil (hamburguesa) */
.hamburger-menu {
  display: none;
  /* Ocultar el bot칩n en pantallas grandes */
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  align-items: 0;
}

/* Media query para mostrar el men칰 m칩vil en pantallas peque침as */
@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
    /* Ocultar la navegaci칩n en pantallas peque침as */
  }

  .hamburger-menu {
    display: block;
    /* Mostrar el bot칩n en pantallas peque침as */
  }

  /* Agregamos estilos para el men칰 desplegable */
  .header-nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    /* Ajusta la posici칩n del men칰 desplegable seg칰n el tama침o del encabezado */
    right: 20px;
    /* Ajusta la posici칩n del men칰 desplegable seg칰n el tama침o del encabezado */
    background-color: #444;
    padding: 10px;
  }

  .header-nav.active a {
    display: block;
    margin: 5px 0;
  }
}

/*SOBRE MI */
.text {
  padding: 0px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: min-content;
  /* 483px */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  flex: 1 0 0px;
  position: relative;
  align-content: center;
  flex-wrap: nowrap;
  border: none;
  margin-top: 70px;
  margin-bottom: 70px;
}

.content {
  flex-shrink: 0;
  width: 100%;
  height: min-content;
  /* 283px */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  overflow: hidden;
  z-index: 1;
  position: sticky;
  padding: 0;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  will-change: transform;
  top: 0;
  border-radius: 0;
  flex-direction: row;
}

.left {
  width: 40%;
  height: 283px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  gap: 10px;
  border-radius: 50%;
  max-width: 400px;
  /* Cambiado a 50% para que sea un c칤rculo */
}

.image {
  width: 50%;
  height: auto;
  border-radius: 45%;
  object-fit: contain;
  position: absolute;
  top: 2rem;
  right: 15%;


}

.right {

  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  padding: 0;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  border-radius: 0;
}

.right h1 {
  /* Estilos iniciales */
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow: visible;
  position: relative;
  font-weight: bold;
  font-style: normal;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 48px;
  letter-spacing: 0em;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
}

.right p {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  margin-top: 0.5rem;
  font-size: 17px;
  color: #aaa;
}

.degradado {
  font-weight: bold;
  background-image: linear-gradient(135deg, #00a2d8, #ede9ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: degradadoAnimacion 2s ease infinite;
}

@keyframes degradadoAnimacion {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Media query para hacer la secci칩n responsive en pantallas m치s peque침as */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    /* Cambiar a disposici칩n vertical en pantallas m치s peque침as */
    align-items: center;
    /* Centrar horizontalmente los elementos */
  }

  .image {
    display: none;

  }

  .left {
    margin-top: -150px;
    width: 100%;
    /* Ocupar todo el ancho en pantallas m치s peque침as */
    max-width: 100%;
    /* Eliminar el ancho m치ximo en pantallas m치s peque침as */

  }

  .right {
    /* Agregar nuevamente los estilos para .right en pantallas m치s peque침as */
    flex: none;
    margin-top: -130px;
    /* Ajusta el espaciado entre .left y .right en pantallas m치s peque침as */
    text-align: center;

    /* Centrar el contenido en pantallas m치s peque침as */
  }


  .right h1 {
    font-size: 32px;
    text-align: center;
  }

  .right p {
    font-size: 14px;
    /* Reducir el tama침o del texto en pantallas m치s peque침as */
    text-align: left;
    /* Centrar el texto en pantallas m치s peque침as */
  }
}

.area{
  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:auto;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}







.habilidades{
  background-color: white;
  margin-top: -45px;
  padding-top: 50px;
  padding-bottom: 50px;

}


.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidades h2 {
  text-align: center;
  font-size: 38px;
 
  margin-bottom: 10px;
  font-weight: 700;
  color: #010529;
}

.caracteristica {
  width: 300px;
  /* Ancho fijo para ambas cajas */
  height: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.caracteristica img {
  max-width: 50px;
  display: block;
  margin: 0 auto 20px;

}

.imagen-gris {
  filter: grayscale(100%);
  opacity: 0.7;
}

.caracteristica h3 {
  color: #2e2e2e;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.caracteristica p {
  color: #525252;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  margin-top: 15px;
}

.barra-progreso {
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.barra-progreso span {
  display: block;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s ease;
}

.barra-progreso span.activado {
  animation: cargarBarra 2s ease forwards; /* Agrega "forwards" para mantener el estado final de la animaci칩n */
  background-color: #87ceeb; /* Agrega el color de fondo deseado */
}
@keyframes cargarBarra {
  from {
    width: 0;
    background-color: transparent; /* Agrega el color de fondo deseado */
  }
  to {
    background-color: #87ceeb; /* Agrega el color de fondo deseado */
  }
}


/* SECCION T R A B A J O S */
/* Estilos para la secci칩n de trabajos */
.trabajos {
  
background-color: rgb(241, 243, 252);
margin-top: -40px;

}


.trabajos h2 {
  text-align: center;
  font-size: 38px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #010529;
}

.trabajos nav {
  text-align: center;
  margin-bottom: 30px;
}

.trabajos nav a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: #010529; /* Color magenta */
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid #010529; /* Borde magenta */
  transition: 0.3s;
}

.trabajos nav a:hover {
  background-color:#010529; /* Fondo magenta al hacer hover */
  color: #fff; /* Texto blanco al hacer hover */
 
}

/* Estilos para los elementos de la galer칤a */
.trabajos .galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-gap: 30px;
  max-width: 1100px;
  margin: auto;
  padding: 30px;
 
}

.trabajos .galeria .item {
  position: relative;
  overflow: hidden;
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 8px 16px rgba(255, 0, 255, 0.2); /* Sombra magenta */
  transition: 0.3s;
  margin-bottom: 35px;
  
}

.trabajos .galeria .item img {
  width: 100%;
  height: 250px; /* Ajustamos el alto para una mejor visualizaci칩n */
  object-fit: cover;
  display: block;
  -webkit-transform:scale(1.3);transform:scale(1.3);
}

.trabajos .galeria .item .info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(0deg, rgba(22,43,145,0.4234068627450981) 0%, rgba(11,11,79,0.43461134453781514) 100%); /* Fondo negro transl칰cido */
  color: #fff;
  padding: 30px;
  opacity: 0;
  transition: 0.3s;
}

.trabajos .galeria .item .info h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #010529; /* Color magenta para el t칤tulo */
  font-weight: 600;
}

.trabajos .galeria .item .info span {
  display: block;
  margin: 10px 0;
  color: #fff; /* Color blanco para el texto */
  font-weight: 600;
}

.trabajos .galeria .item .info a {
  display: inline-block;
  margin-top: 5px;
  text-decoration: none;
  color: #010529; /* Color magenta para el enlace */
  font-weight: bold;
  padding: 12px 25px;
  border: 2px solid #010529; /* Borde magenta para el enlace */
  border-radius: 30px;
  transition: 0.3s;
}

.trabajos .galeria .item:hover {
  transform: translateY(-5px);

}

.trabajos .galeria .item:hover .info {
  opacity: 1;
}

 



/* SECCION CONTACTO */

.contenido-seccion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
}

.contenido-seccion h2 {
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.col {
  background-color: rgba(255, 255, 255, 0.8);
  /* Fondo transparente con opacidad 0.8 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
}

.col img {
  width: 80px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.info {
  font-size: 16px;
  line-height: 1.5;
}

.info ul {
  list-style: none;
}

.info ul li {
  margin-bottom: 10px;
}

.info p {
  margin: 0;
}

.info p:before {
  content: attr(data-icon);
  margin-right: 10px;
}

.info p[data-icon="游닎"]:before {
  content: "\1F4E7";
  /* C칩digo Unicode para el icono 游닎 (envelope) */
}

.info p[data-icon="游늷"]:before {
  content: "\1F4CD";
  /* C칩digo Unicode para el icono 游늷 (pushpin) */
}

footer {
  background: linear-gradient(#344466, #191f63);
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .redes {
  margin-bottom: 20px;
}

footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}

footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #187edd;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}












.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 4);
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 2));
      transform: translateX(calc(-200px * 2));
  }
}